<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/aufgabe06a/src/sschwarz/aufgabe06a.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sschwarz.aufgabe06a"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aufgabe06a"/>
</launchConfiguration>
